{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["@nuxt/eslint-config-typescript"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}
